@{
    ViewData["Title"] = "檢測結果";
    string[] Tableheaders = new string[] {"自訂名稱", "網址"
      ,"日期"
      ,"處理前資料" };
}

<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
</head>

<style type="text/css"> 
   input[type="radio"]{
  margin: 0 20px 0 20px;
}
</style>
<div class="table">
        <div class="container text-center" style="margin-top: 0px;">
        <h6 align="right">@Context.Session.GetString("UserName")</h6>
    </div>
    <table>
        <thead>
            <tr>
                @{
                    foreach (var head in Tableheaders)
                    {
                        <th> 
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach(var Data in Model)
                    {
                        <tr>
                            <td>@Data.WebName</td>
                            <td>@Data.Url</td>
                            <td>@Data.Time</td>
                            <td>@Data.Content</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

</div>
<div>
    <form asp-action="show2">  
        <h2> success </h2>
        <input type="submit" style="margin-top: 10px;" value="確認" />
    </form>
    <div></div>
</div>

<script type="text/javascript">

</script>
