@{
    ViewData["Title"] = "testing";
    string[] Tableheaders = new string[] {"U_Email"
      ,"U_Password"
      ,"U_Name"
      ,"Phone_Number" };
}
<style type="text/css"> 
   input[type="radio"]{
  margin: 0 20px 0 20px;
}
</style>
<div class="table">
        <div class="container text-center" style="margin-top: 0px;">
        <h6 align="right">@Context.Session.GetString("UserName")</h6>
    </div>
    <table>
        <thead>
            <tr>
                @{
                    foreach (var head in Tableheaders)
                    {
                        <th> 
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach(var Data in Model)
                    {
                        <tr>
                            <td>@Data.UEmail</td>
                            <td>@Data.UPassword</td>
                            <td>@Data.UName</td>
                            <td>@Data.PhoneNumber</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

</div>


