@model WebCrawler.Models.Statistics


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawStuff);

  function drawStuff() {
    var data = new google.visualization.arrayToDataTable([
      ['偵測類別', '數量'],
      ["姓名", @Html.DisplayFor(i=>i.name)],
      ["Email", @Html.DisplayFor(i=>i.email)],
      ["電話", @Html.DisplayFor(i=>i.phone)],
      ["地址", @Html.DisplayFor(i=>i.address)]
    ]);

    var options = {
      title: '個人紀錄統計',
      width: 900,
      legend: { position: 'none' },
      chart: { title: '個人紀錄統計'},
      bars: 'horizontal', // Required for Material Bar Charts.
      axes: {
        x: {
          0: { side: 'top', label: '數量'} // Top x-axis.
        }
      },
      bar: { groupWidth: "90%" }
    };

    var chart = new google.charts.Bar(document.getElementById('top_x_div'));
    chart.draw(data, options);
  };
</script>

<div class="card">
    <div class="card-header">
        <h5>個資外洩</h5>
        <a role="button" class="btn btn-success barbtn" asp-action="export" asp-route-id="@Model.CId">下載</a>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            
            <div id="top_x_div" style="width: 900px; height: 300px;"></div>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>檢測資料</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            @if(TempData["name_count"]!=null || TempData["email_count"]!=null || TempData["phone_count"]!=null || TempData["address_count"] != null)
            {
                @if (TempData["name_count"].ToString() != "0")
                {
                    <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["name_id"]>姓名檢測</a>
                    <br>
                }
                @if (TempData["email_count"].ToString() != "0")
                {
                    <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["email_id"]>Email檢測</a>
                    <br>
                }
                @if (TempData["phone_count"].ToString() != "0")
                {
                    <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["phone_id"]>電話檢測</a>
                    <br>
                }   
                @if (TempData["address_count"].ToString() != "0")
                {
                    <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["address_id"]>地址檢測</a>
                }
            }
            
        </ul>
    </div>
</div>