
@model IEnumerable<WebCrawler.Models.Interval>
<div class="card">
    <div class="card-header">
        <div class=row>
            
            <div class="col-8">
              <h5>定期檢測設定</h5>
            </div>
        
            <div class="col-4 justify-content-end">
              <a class="btn btn-primary" asp-action="SetInterval">新增專案</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th scope="col">標題</th>
                <th scope="col">檢測頻率</th>
                <th scope="col">選項</th>
            </thead>
            <tbody>
                @foreach(var i in Model)
                {
                    var a = "";
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(model => i.WebName)
                        </td>
                        <td>
                            @switch(i.Day) { 
                                        
                                        case 1:
                                            a = "每天";
                                            break; 
                                        case 2: 
                                            a = "每周";
                                            break; 
                                        case 3: 
                                            a = "每月";
                                            break; 
                                        case 4: 
                                            a = "每年";
                                            break; 
                                    }
                            <span class="d-inline-block text-truncate" style="max-width: 390px;">@a</span>
                        </td>
                        <td>
                            <a role="button" class="btn btn-success barbtn" asp-action="Data_Processing_run" asp-route-id="@i.IId">執行</a>
                            <a role="button" class="btn btn-success barbtn" asp-action="User_Interval_Edit" asp-route-id="@i.IId">編輯</a>
                            <a role="button" class="btn btn-danger barbtn" asp-action="User_Interval_del" asp-route-id="@i.IId" onclick="return confirm('Are you sure you want to delete this?')" >刪除</a>
                        </td>
                    </tr>       
                }
            </tbody>
        </table>
        @if (Model.Any()==false)
        {
            <div class="alert alert-secondary" role="alert">
                <p class="h4">目前無訊息紀錄</p>
            </div>
        }
    </div>
</div>