@model IEnumerable<WebCrawler.Models.User>

@{
    ViewData["Title"] = "會員查詢";
}

<body>
    <div class="container text-center" style="margin-top: 0px;">
        <div class="row">
            
            <div class="col-12" id="a">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header text-s">
                            <form asp-action="Search_User">                                  
                                    <input class="form-control" type="text" name="Name" placeholder="請輸入UserName">
                                    @*<input class="form-control" style="margin-top: 10px;" type="text" name="Id" placeholder="請輸入UserID">*@
                                    <input class="form-control" type="text" name="Email" placeholder="請輸入UserEmail">
                                    <!---
                                    <input class="form-control" style="margin-top: 10px;" type="text" name="Per" placeholder="請輸入權限代碼">
                                    -->
                                    <br />
                                    <select class="form-select" name="Per">
                                        <option selected>請選擇權限</option>
                                        <option value="Z">審核中</option>
                                        <option value="A">A權限</option>
                                        <option value="B">B權限</option>
                                        <option value="X">停權中</option>
                                    </select>
                                    <!----
                                    <input class="form-control" style="margin-top: 10px;" type="text" name="Year" placeholder="請輸入年" >
                                    <input class="form-control" style="margin-top: 10px;" type="text" name="Month" placeholder="請輸入月" >
                                    <input class="form-control" style="margin-top: 10px;" type="text" name="Day" placeholder="請輸入日" >
                                    -->
                                    <br />
                                    <input type="submit" value="查詢" class="btn btn-secondary barbtn">
                            </form>
                        </div>
                    </div>
                </div>
 <!----------------------------------------------------------------------------------------------------->           
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @*<th>ID</th>*@
                            <th scope="col">User</th>
                            <th scope="col">Email</th>
                            @*<th scope="col">Phone</th>*@
                            <th scope="col">權限</th>
                            <th scope="col"></th>
		                </tr>
	                </thead>
                    <tbody>
                        @foreach(var obj in Model)
                        {
                            <tr>
                                <td>@obj.UName</td>
                                <td>@obj.UEmail</td>
                                @*<td>@obj.PhoneNumber</td>*@
                                <td>
                                    @switch(@obj.Permission) { 
                                        
                                        case "Z":
                                            <label>審核中</label>
                                            break; 
                                        case "A": 
                                            <label>A權限</label>
                                            break; 
                                        case "B": 
                                            <label>B權限</label>
                                            break; 
                                        case "X": 
                                            <label>停權中</label>
                                            break; 
                                    }
				                </td>
                                <td>
                                    <a asp-controller="Member" asp-action="User_Edit" asp-route-id="@obj.UId" class="btn btn-primary mx-2">Edit</a>
                                        <!---
                                        <a asp-controller="Member" asp-action="User_Delete" asp-route-id=@*"@obj.UId*@" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                                        -->
				                </td>
			                </tr>
                        }
                    </tbody>
                </table>
            
            </div>  
        </div>
    </div>
</body>
